@import "tailwindcss";
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
.vertical-text {
  writing-mode: vertical-rl;
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
  text-orientation: mixed;
}
